<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Cards</title>
</head>
<body>
    <header class="page-header">
        <nav>
            <ul>
                 <a href="/"><li>Home</li></a> 
                 <a href="/cards"><li>Listings</li></a> 
                 <a href=""><li>Account</li></a> 
                 <a href=""><li></li></a> 
            </ul>
        </nav>
    </header>
    <div class="container page-hero">
        <div class="page-hero-content">
            <h1 class="page-heading">Listings</h1>
            <div class="cards-links">
                <p><%= link_to "Create a Listing", new_card_path%></p>
            </div>
            <div class="cards-container">
                <% @cards.each do |card|  %>
                    <h3 class="card-container-heading">Card</h3>
                    <h3 class="card-title"><%= link_to card.title, card_path(card.id) %></h3>
                    <h3 class="card-container-heading">Set</h3>
                    <h3 class="card-title"><%= @gensets.find(card.genset_id).set %></h3>
                    <h3 class="card-container-heading">Condition</h3>
                    <h3 class="card-title"> <%= @card_conditions.find(card.card_condition_id).condition %> </h3>
                    <h3 class="card-container-heading">Price</h3>
                    <h3 class="card-title">$<%= card.price %> </h3>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>