<h1>New Listing</h1>

<%= form_with model: Card.new do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :number %>
        <%= f.number_field :number, in: 1..151 %>
    </p>
    
    <p>
        <%= f.label :price %>
        <%= f.number_field :price, in: 1..100000 %>
    </p>
    <p>
    <p>
        <%= f.label :set %>
        <%= f.collection_select :genset_ids, Genset.all, :id, :set %>
    </p>
    <p>
        <%= f.label :condition %>
        <%= f.collection_select :card_condition_ids, CardCondition.all, :id, :condition %>
    </p>
        <%= f.submit %>
    </p>
    
<% end %>