
<h1><%= @card.title %></h1> 
<p class="card-image">
    <%if @card.card_image.attached?%>
    <%= image_tag @card.card_image, crop: :scale, width: 240 %>
<% end %>
</p>
<h3>Set: <%= @genset.set %> </h3>
<h3>Card Number: <%= @card.number %></h3>
<h3>Condition: <%= @card_condition.condition %></h3>
<h3>Seller: <%= @card.user.email %> </h3>
<h3>Price: $<%= @card.price %> </h3>

<!-- <h3>Description: ##add message field so users can add anything else they want to say about the card## </h3> -->

<p>
    <%= link_to "Back to Listings", cards_path  %>

    <% if policy(@card).update? %>           
        |
        <%= link_to "Edit", edit_card_path(@card) %>
    <% end %>
    <% if policy(@card).destroy? %>
        |
        <%= link_to "Delete Card", @card, method: :delete, data: {confirm: "Are you sure you want to delete this Card?"}  %>

    <% end %>
</p>