<!DOCTYPE html>
<html>
  <head>
    <title>TiaKoenigT2a2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
    <section class="error-message">
      <% flash[:errors].each do |error| %>
      <h3> <%= error %> </h3>
      <% end %>
    </section>
    <% end %>

    <%= render 'layouts/usernav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
